FRONTEND_IMAGE=ghcr.io/erikogeek/conduit-frontend
BACKEND_IMAGE=ghcr.io/erikogeek/conduit-backend
IMAGE_TAG=latest

FRONTEND_PORT=8282
BACKEND_PORT=8001

DJANGO_SECRET_KEY=CHANGE_ME
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DJANGO_SUPERUSER_PASSWORD=CHANGE_ME

POSTGRES_DB=conduit
POSTGRES_USER=conduit
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_HOST=database
POSTGRES_PORT=5432